<%= form_with(model: page_link) do |form| %>
  <% if page_link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(page_link.errors.count, "error") %> prohibited this page_link from being saved:</h2>

      <ul>
        <% page_link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :page_id, style: "display: block" %>
    <%= form.text_field :page_id %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
