<div id="<%= dom_id page_link %>">
  <p>
    <strong><%= t(:title, scope: :page) %></strong>
    <%= page_link.title %>
  </p>

  <p>
    <strong><%= t(:url, scope: :page_link) %></strong>
    <%= page_link.url %>
  </p>

</div>
