<div id="<%= dom_id page %>">
  <p>
    <strong><%= t(:title, scope: :page) %></strong>
    <%= page.title %>
  </p>

  <p>
    <strong><%= t(:total_links, scope: :page) %></strong>
    <%= page.page_links.count %>
  </p>
</div>
