<p style="color: green"><%= notice %></p>

<div class='flex justify-between items-center mb-12'>
  <h1 class="text-2xl font-bold font-mono"><%= @page.title %></h1>

  <%= link_to "Back", pages_path, class: "px-6 py-3 bg-white text-black rounded shadow border border-black" %>
</div>

<div class="flex flex-col" id="pages_links">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              <th scope="col" class="px-6 py-4">Name</th>
              <th scope="col" class="px-6 py-4">URL</th>
            </tr>
          </thead>
          <tbody>
            <% @page_links.each do |page_link| %>
              <%= render page_link %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</nav>

